<div class="loading-page d-flex justify-content-center w-100">
    <div class="detail-loading w-100">
        <!-- <i class="icon-loading fa fa-spinner fa-spin ml-2" [ngClass]="isRetry ? 'hidden' : 'show'"></i> -->
        <div class="donut" *ngIf="!isRetry"></div>
        <p *ngIf="isRetry">Something went wrong. Please try again!</p>
    </div>
    <div class="button-group" [ngClass]="isRetry ? 'show' : 'hidden'">
        <button class="button btn btn-warning btn-retry rounded-0" (click)="onButtonRetryClick()">Retry</button> 
    </div>
  </div>