<div class="tutor-details-page">
  <div class="header-cover align-self-start d-flex flex-row bg-dark justify-content-center align-items-center p-2">
    <div class="title d-flex flex-row flex-grow-1 ml-2 h3 text-white">
      Eways
    </div>
    <div ngbDropdown placement="bottom-right">
      <button class="menu-button border-0 bg-transparent text-white" ngbDropdownToggle>
        <span class="menu-button__label fa fas fa-user"></span>
        {{currentUser.email}}
        <i class="fa fas fa-caret-down ml-1"></i>
      </button>
      <div ngbDropdownMenu class="pop-menu border rounded-0">
        <button class="dropdown-item" (click)="onClickAccountButton()">
          <i class="fa fas fa-user-circle"></i> Tài khoản</button>
        <button class="dropdown-item" (click)="onClickChangePasswordButton()">
          <i class="fa fas fa-key"></i> Đổi mật khẩu</button>
        <button class="dropdown-item" (click)="onClickDashboardButton()">
          <i class="fa fas fa-address-card"></i> Thống kê</button>
        <button class="dropdown-item" (click)="onClickListingTutorsButton()">
          <i class="fa fas fa-list-alt"></i> Danh sách gia sư</button>
        <button class="dropdown-item" (click)="onClickListingStudentsButton()">
          <i class="fa far fa-list-alt"></i> Danh sách học viên</button>
        <button class="dropdown-item" (click)="onClickListingRequisitionsButton()">
          <i class="fa far fa-list-alt"></i> Danh sách yêu cầu</button>
        <button class="dropdown-item" (click)="onClickListingBannedButton()">
          <i class="fa far fa-list-alt"></i> Danh sách thành viên bị khóa</button>
        <button class="dropdown-item" (click)="onClickLogoutButton()">
          <i class="fa fas fa-power-off"></i> Đăng xuất</button>
      </div>
    </div>
  </div>

  <div class="tutor-details-container">

    <div class="w-100 h-100" *ngIf="isLoading">
      <app-loading class="loading" [isRetry]="isRetry" (retry)="onClickRetry($event)"></app-loading>
    </div>

    <div class="tutor-details-content d-flex flex-column p-4 mb-4" *ngIf="!isLoading">
      <div class="card border-0 mt-2 w-100 h-100">
        <div class="card-header bg-info">
          <p class="h3 text-white">
            <i class="fa fas fa-user-circle"></i> {{tutor.id}}
          </p>
        </div>
        <div class="card-body border border-top-0 p-3">
          <div class="d-flex flex-column">
            <img class="img-thumbnail rounded mx-auto d-block mb-2  w-25" src="{{tutorAvatar}}">
            <p>Họ và tên:
              <b>{{tutor.last_name}} {{tutor.first_name}}</b>
              <i class="fa fas fa-check-circle text-success" *ngIf="tutor.verification == 1"></i>
            </p>
            <p>Giới tính:
              <b *ngIf="tutor.sex == 1">Nam</b>
              <b *ngIf="tutor.sex == 0">Nữ</b>
            </p>
            <p>Sinh nhật:
              <b>{{tutor.birthday}}</b>
            </p>
            <p>Trình độ:
              <b>{{tutor.degree_name}}</b>
            </p>
            <p>Công việc:
              <b>{{tutor.career}}</b>
            </p>
            <p>Số điện thoại:
              <b>{{tutor.phone}}</b>
            </p>
            <p>Skype:
              <b>{{tutor.skype}}</b>
            </p>
            <p>Email:
              <b>{{tutor.email}}</b>
            </p>
            <p>Địa chỉ:
              <b>{{tutor.address}}</b>
            </p>
            <p>Ngày gia nhập:
              <b>{{tutor.date_registered}}</b>
            </p>
            <div class="d-flex flex-column">
              <p>Tài liệu xác minh:
                <span *ngIf="!isShowData"> Không có dữ liệu</span>
              </p>
              <table class="table table-striped" *ngIf="isShowData">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Loại tài liệu</th>
                    <th scope="col">Số tài liệu</th>
                    <th scope="col">Trang thái</th>
                    <th scope="col">Chi tiết</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of arrayVerificationDocument | paginate: { itemsPerPage: pageSize, currentPage: page }">
                    <th scope="row">{{item.id}}</th>
                    <td>
                      <span *ngIf="item.verification_document_type_id == '0'">Khác</span>
                      <span *ngIf="item.verification_document_type_id == '1'">Chứng minh nhân dân</span>
                      <span *ngIf="item.verification_document_type_id == '2'">Bằng lái xe</span>
                      <span *ngIf="item.verification_document_type_id == '3'">Hộ chiếu</span>
                      <span *ngIf="item.verification_document_type_id == '4'">Thẻ sinh viên</span>
                    </td>
                    <td>{{item.card_number}}</td>
                    <td>
                      <span *ngIf="item.verification == '0'">Đang chờ</span>
                      <span *ngIf="item.verification == '1'" class="text-success">Đã xác minh</span>
                      <span *ngIf="item.verification == '2'" class="text-danger">Đã hủy</span>
                    </td>
                    <td class="details-button text-info">
                      <a (click)="onClickDetailsButton(item.id)">Chi tiết</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="paging w-100 text-right" *ngIf="isShowData">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
              </div>
            </div>
            <div class="reset-password d-flex flex-row mb-3">
              <input [(ngModel)]="newPassword" type="password" placeholder="mật khẩu mới">
              <button class="btn btn-warning border rounded-0" (click)="onClickResetPassword()">Reset password</button>
            </div>
            <button class="btn btn-danger" (click)="onClickBannedButton()">Khóa tài khoản</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>