.listing-tutors-page {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.listing-tutors-container {
    width: 100%;
    height: 100%;
}

.dropdown-item {

    &:hover {
        cursor: pointer;
        background-color: #f8f9fa;
    }
}

.menu-button {
    
    &__label {
        cursor: pointer;
    }

    &::after {
        content: unset !important;
    }

    &:hover {
        cursor: pointer;
    }

}

.header-cover {
    width: 100%;
    height: 50px;
}
