.dashboard-page {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: #fff url(/assets/img/bokeh-2152298_960_720.jpg) repeat scroll;
}

.dashboard-container{
    width: 100%;
    height: 100%;
}

.dropdown-item {

    &:hover {
        cursor: pointer;
        background-color: #f8f9fa;
    }
}

.menu-button {
    
    &__label {
        cursor: pointer;
    }

    &::after {
        content: unset !important;
    }

    &:hover {
        cursor: pointer;
    }

}

.header-cover {
    width: 100%;
    height: 50px;
}

.username-label {
    max-width: 150px;
}

.loading {

    height: 100%;
    width: 100%;
    position: fixed; 
    z-index: 1; 
    background-color: rgb(255, 255, 255); 
    overflow-x: hidden; 
}