<div class="dashboard-page">

  <nav class="navbar navbar-expand-lg fixed-top bg-dark">
    <div class="collapse navbar-collapse text-white">
      <h2>Eways</h2>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown ml-2" ngbDropdown placement="bottom-right">
          <a class="nav-link" ngbDropdownToggle>
            <i class="fa fa-user"></i> {{userName}}
            <b class="caret"></b>
          </a>
          <div class="dropdown-menu-right" ngbDropdownMenu>
            <a class="dropdown-item">
              <i class="fa fas fa-user-circle"></i> Quản lí tài khoản
            </a>
            <a class="dropdown-item">
              <i class="fa fas fa-key"></i> Đổi mật khẩu
            </a>
            <a class="dropdown-item">
              <i class="fa fa-fw fa-power-off"></i> Đăng xuất
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="w-100 h-100">
    <div class="menu h-100 mt-1 d-flex flex-column">
      <h2>Dashboard</h2>
      <ul>
        <li>AAAA</li>
        <li>AAAA</li>
        <li>AAAA</li>
        <li>AAAA</li>
      </ul>
    </div>
  </div>
</div>