.login-page {
    height: 100vh;
    background: #fff url(/assets/img/Black-Background-Metal-Hole-small-2560x1600-by-Freeman.jpg) repeat scroll;
}

.panel-login {
    background-color: #fff;
}

.form-login {

}