.login-page {
    height: 100vh;
    background: #fff url(/assets/img/Black-Background-Metal-Hole-small-2560x1600-by-Freeman.jpg) repeat scroll;
}

.panel-login {
    background-color: #fff;
}

.loading {

    height: 100%;
    width: 100%;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.5); 
    overflow-x: hidden; 
}